.menuItem:hover .menuItem__icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.menuItem:hover > .menuItem__confirmation {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.menuItem:hover > .menuItem__price {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.menuItem:hover > .menuItem__header {
  width: 70%;
}

.transition-0 {
  -webkit-animation: transitionIn 0s linear;
          animation: transitionIn 0s linear;
}

.transition-1 {
  -webkit-animation: transitionIn 0.1s linear;
          animation: transitionIn 0.1s linear;
}

.transition-2 {
  -webkit-animation: transitionIn 0.2s linear;
          animation: transitionIn 0.2s linear;
}

.transition-3 {
  -webkit-animation: transitionIn 0.3s linear;
          animation: transitionIn 0.3s linear;
}

.transition-4 {
  -webkit-animation: transitionIn 0.4s linear;
          animation: transitionIn 0.4s linear;
}

.transition-5 {
  -webkit-animation: transitionIn 0.5s linear;
          animation: transitionIn 0.5s linear;
}

.transition-6 {
  -webkit-animation: transitionIn 0.6s linear;
          animation: transitionIn 0.6s linear;
}

.transition-7 {
  -webkit-animation: transitionIn 0.7s linear;
          animation: transitionIn 0.7s linear;
}

.transition-8 {
  -webkit-animation: transitionIn 0.8s linear;
          animation: transitionIn 0.8s linear;
}

.transition-9 {
  -webkit-animation: transitionIn 0.9s linear;
          animation: transitionIn 0.9s linear;
}

@-webkit-keyframes transitionIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes transitionIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Loader */
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeout 0s 3s forwards;
          animation: fadeout 0s 3s forwards;
}

.spinner {
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
  -webkit-transform-origin: bottom top;
          transform-origin: bottom top;
}

.circle {
  -webkit-animation: grow 1.5s linear infinite;
          animation: grow 1.5s linear infinite;
  background-color: #FF79DA;
  border-radius: 50%;
  margin: 10px;
  height: 55px;
  width: 55px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.circle:nth-of-type(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #9356DC;
  margin: 10px;
}

.circle:nth-of-type(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  background-color: #99E2D0;
  margin: 10px;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes grow {
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes grow {
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
/*# sourceMappingURL=animations.css.map */