.menuItem:hover .menuItem__icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: .9s;
          transition-duration: .9s;
}

.menuItem:hover > .menuItem__confirmation {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.menuItem:hover > .menuItem__price {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.menuItem:hover .menuItem__description, .menuItem:hover .menuItem__title {
  width: 75%;
}

.transition-0 {
  -webkit-animation: transitiontopY .7s;
          animation: transitiontopY .7s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.transition-1 {
  -webkit-animation: transitiontopY .7s;
          animation: transitiontopY .7s;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.transition-2 {
  -webkit-animation: transitiontopY .7s;
          animation: transitiontopY .7s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.transition-3 {
  -webkit-animation: transitiontopY .7s;
          animation: transitiontopY .7s;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.transition-4 {
  -webkit-animation: transitiontopY .7s;
          animation: transitiontopY .7s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.transition-5 {
  -webkit-animation: transitiontopY .7s;
          animation: transitiontopY .7s;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.transition-6 {
  -webkit-animation: transitiontopY .7s;
          animation: transitiontopY .7s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.transition-7 {
  -webkit-animation: transitiontopY .7s;
          animation: transitiontopY .7s;
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.transition-8 {
  -webkit-animation: transitiontopY .7s;
          animation: transitiontopY .7s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.transition-9 {
  -webkit-animation: transitiontopY .7s;
          animation: transitiontopY .7s;
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes transitionIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes transitionIn {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

.transitiontopY {
  -webkit-animation: transitiontopY 0.9s;
          animation: transitiontopY 0.9s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes transitiontopY {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes transitiontopY {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 1;
  }
}

/* Loader */
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeout 0s 3s forwards;
          animation: fadeout 0s 3s forwards;
}

.spinner {
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.circle {
  -webkit-animation: grow 1.5s linear infinite;
          animation: grow 1.5s linear infinite;
  background-color: #FF79DA;
  border-radius: 50%;
  margin: 10px;
  height: 55px;
  width: 55px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.circle:nth-of-type(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #9356DC;
  margin: 10px;
}

.circle:nth-of-type(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  background-color: #99E2D0;
  margin: 10px;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes grow {
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes grow {
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
/*# sourceMappingURL=animations.css.map */