.footer {
  background-color: #323232;
  color: white;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__titre {
  margin-left: 1.5rem;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 1.5rem;
  font-family: "Shrikhand", cursive;
}

.footer__ul {
  list-style-type: none;
  padding-left: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 17px;
}

.footer__ul__li {
  margin-top: 1rem;
}

.footer__ul__li a {
  color: white;
  text-decoration: none;
}

.footer__ul__li__icone {
  margin-right: 1rem;
}

@font-face {
  font-family: "roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header--withBackArrow {
  position: relative;
}

.header {
  position: relative;
  display: block;
  padding: 1em;
}

.header__logo {
  font-family: Shrikhand, "cursive";
  margin: 0;
  text-align: center;
}

.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  color: #000;
}

@media only screen and (min-width: 900px) {
  .submenus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .restaurants {
    background-color: #eeeeee;
    padding-top: 2.5rem;
    height: auto;
    padding-bottom: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 10em 1fr 1fr;
        grid-template-rows: 10em 1fr 1fr;
  }
  .restaurants__titre {
    padding: 0 0 1rem 1rem;
    font-size: 25px;
    font-weight: 600;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-column-end: 3;
  }
}

.menuItem:hover .menuItem__icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.menuItem:hover > .menuItem__confirmation {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
}

.menuItem:hover > .menuItem__price {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
}

.transition-0 {
  -webkit-animation: transitionIn 0s linear;
          animation: transitionIn 0s linear;
}

.transition-1 {
  -webkit-animation: transitionIn 0.1s linear;
          animation: transitionIn 0.1s linear;
}

.transition-2 {
  -webkit-animation: transitionIn 0.2s linear;
          animation: transitionIn 0.2s linear;
}

.transition-3 {
  -webkit-animation: transitionIn 0.3s linear;
          animation: transitionIn 0.3s linear;
}

.transition-4 {
  -webkit-animation: transitionIn 0.4s linear;
          animation: transitionIn 0.4s linear;
}

.transition-5 {
  -webkit-animation: transitionIn 0.5s linear;
          animation: transitionIn 0.5s linear;
}

.transition-6 {
  -webkit-animation: transitionIn 0.6s linear;
          animation: transitionIn 0.6s linear;
}

.transition-7 {
  -webkit-animation: transitionIn 0.7s linear;
          animation: transitionIn 0.7s linear;
}

.transition-8 {
  -webkit-animation: transitionIn 0.8s linear;
          animation: transitionIn 0.8s linear;
}

.transition-9 {
  -webkit-animation: transitionIn 0.9s linear;
          animation: transitionIn 0.9s linear;
}

@-webkit-keyframes transitionIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes transitionIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.topimg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}

.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__title {
  font-family: "Shrikhand", cursive;
}

.menu__btn {
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}

.menu__like:hover {
  font-weight: bold;
  color: #9356dc;
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 1rem;
}

.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}

.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: #fff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  height: 3.5em;
}

.menuItem__header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuItem__title {
  margin: 0.5em 0 0 0;
}

.menuItem__description {
  margin-top: 0.5em;
}

.menuItem__price {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 0.5rem;
}

.menuItem__confirmation {
  background-color: #99e2d0;
  margin: -1rem -6rem -1rem 1rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuItem__icon {
  color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 50%;
  height: 1.9em;
  width: 1.9em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 2rem 0;
}

.commandBtn {
  border: 0;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  cursor: pointer;
}

.commandBtn:hover {
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
/*# sourceMappingURL=menus.css.map */