@import "/Users/khaledissa/Documents/GitHub/ISSAKHALED_3_11022021/sass/layouts/footer.scss";
@import "/Users/khaledissa/Documents/GitHub/ISSAKHALED_3_11022021/sass/layouts/basic.scss";
@import "/Users/khaledissa/Documents/GitHub/ISSAKHALED_3_11022021/sass/layouts/header.scss";
@import "/Users/khaledissa/Documents/GitHub/ISSAKHALED_3_11022021/sass/layouts/Responsive.scss";
@import "/Users/khaledissa/Documents/GitHub/ISSAKHALED_3_11022021/sass/layouts/animations.scss";

.topimg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  &__header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-family: "Shrikhand", cursive;
  }
  &__btn {
    height: 2rem;
    width: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
  }
  &__like {
    &:hover {
      font-weight: bold;
      color: #9356dc;
    }
  }
}

// submenus //

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 1rem;
  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;
    &::after {
      content: "";
      width: 3rem;
      height: 0.25rem;
      background-color: #99e2d0;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.menuItem {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  height: 3.5em;

  &__header {
    flex: 1;
    align-items: center;
  }
  &__title {
    margin: 0.5em 0 0 0;
  }
  &__description {
    margin-top: 0.5em;
  }
  &__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }
  &__confirmation {
    background-color: #99e2d0;
    margin: -1rem -6rem -1rem 1rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    color: #99e2d0;
    display: flex;
    background-color: white;
    border-radius: 50%;
    height: 1.9em;
    width: 1.9em;
    align-items: center;
    justify-content: center;
  }
}


.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 0 0 2rem 0;
}
.commandBtn {
  border: 0;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;

  cursor: pointer;
  &:hover {
    background-color: #ae80e5;
    background-blend-mode: lighten;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    transition-duration: 0.25s;
  }
}
